/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
/*#container {
  width: 960px;
  margin: auto;
}*/

header {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  border: solid black 2px;
}

main {
  height: 200px;
  border: 2px solid black;
  margin-top: 10px;
}

.topbox {
  height: 50px;
  width: 150px;
  border: 2px solid black;
  float: left;
  margin: 10px;
}

.mainbox {
  height: 150px;
  width: 220px;
  border: 2px solid black;
  margin: 10px;
  float: left;
}

.footerbox {
  height: 150px;
  width: 295px;
  border: 2px solid black;
  margin: 10px;
  float: left;
}

footer {
  height: 175px;
  border: 2px solid black;
  clear: both;
}

@media (max-width:900px) {
  .mainbox, .footerbox {
    width: auto;
    float: none;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
