/*Relaxr Top*/
body {
  font-family: 'Open Sans', sans-serif;
}

header {
  /*height: 180px;*/
  width: 100%;
  background-color: #033048;
}

.container {
  /*padding: 50px 150px 50px 150px;*/
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

#logo {
  color: #ffffff;
  font-size: 54px;
  font-weight: 800;
}

nav {
  display: inline;
  float: right;
  margin-top: 20px;
}

nav a {
  margin-left: 60px;
}

footer .logo {
  color: #f9e42e; /* overwrite for footer */
}

nav > a {
  color: #f9e42e;
  font-size: 24px;
  text-decoration: none;
  margin-right:10px;
}
nav a:hover {
  color: #ffffff;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

p.intro:first-letter {
  font-size: 200%;
  float: left;
  padding-right: 10px;
}

.content {
  width: 700px;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}
