* {
  font-family: 'Open Sans', sans-serif;
}

.testimonial {
  background-image: url(../starter_code/images/testimonial_bg.jpg);
  padding: 50px 140px 50px 140px;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  text-align-last: center;
}

#quote {
  font-weight: 300;
  font-style: italic;
}

#author {
  width: 700px;
  font-weight: 600;
}

.signup {
  background-color: #f9e42e;
  padding: 3%;
}

#button {
  background-color: #033048;
  width: 180px;
  height: 28px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  border-radius: 5px;
  padding-top: 9px;
  margin: auto;
}

footer {
  text-align: center;
  background-color: #121212;
  height: 200px;
}

#logo-yellow {
color: #f9e42e;
font-size: 24px;
font-weight: 800;
padding: 35px 0px 25px 0px;
}

#socialmedia img{
  height: 18px;
  margin: 0px 14px;
}

#copyright {
  color: #ffffff;
  font-size: 9px;
  font-weight: 600;
  padding: 30px 0px 15px 0px;
  }
