/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;

     background-size: cover;
     margin: 0;
     padding: 0;
}


/******************************************
/* LAYOUT
/*******************************************/

header, footer, main, div {
  padding: 10px 0;

}

/* Center the container */
#container {
  padding:0;
  //margin: auto;
  //width: 100%;



}

header {

}

footer {
  padding:0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.relaxrmain {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  width: 100%;
  height: 700px;
  background-size: 100% 800px;
}

.relaxrmain h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  padding-top: 30px;
  padding-left: 100px;

}

.relaxrmain h2 {
  text-align: center;
  margin:auto;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  padding-top: 90px;
}


.getitnow {
  display: block;
  width: 260px;
  height: 60px;
  background-color: yellow;
  border-radius: 5px;
  margin: auto;
  margin-top: 80px;
  font-size: 28px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #033048;
  padding-top: 10px;

}


.benefits {
  width: 100%;
  height: 610px;
  background-color: #f0efef;

}

.benefits div {
  width: 650px;
  padding-left: 100px;

}


.benefits h2 {

  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #033048;
  margin: 75px 0px 0px 100px;
}


.benefits p {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #606161;
  margin: 20px 0px 0px 110px;
}



ul {

    margin: 40px 0px 0px 0px;
}


li {
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #606161;
  padding: 10px 0px 0px 00px;
  list-style: disc;
  list-style-position: inside;
}



.testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  width: 100%;
  height: 395px;
  background-size: 100% 395px;
  background-color: #f0efef;
  padding-top: 15px;

}

.testimonial p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 10px;
}

.testimonial div {
  width: 600px;
  text-align: center;
  margin: auto;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;

}



.signupnow {
  width: 100%;
  height: 120px;
  background-color: #f9e42e;

}


.signupnow a {
  display: block;
  width: 300px;
  height: 58px;
  background-color: #033048;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  font-size: 26px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
  padding-top: 10px;

}


footer {
  width: 100%;
  height: 380px;
  background-color: #121212;

}

footer h2 {

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #f9e42e;
  margin-top: 50px;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  color: white;  
  font-size: 19px;
  margin-top: 75px;
}


footer div {
  text-align: center;
}

.twitter {

  padding-right: 50px;
}

.facebook {

  padding-left: 10px;
}


a {
  text-decoration:none;
}
