
header {
  border: 2px solid red;
  height: 50px;
  text-align: center;
  background-color: black;
  width: 1300px;
}

main > div.leftside {
  border: 2px solid yellow;
  width: 650px;
  float:left;
  height: 50px;
  text-align: center;
  background-color: black;

}

main > div.rightside {
  border: 2px solid green;
  width: 650px;
  float: left;
  height: 50px;
  text-align: center;
  background-color: black;

}

aside > div.leftside {
  border: 2px solid orange;
  width: 430px;
  float: left;
  clear: both;
  height: 50px;
  text-align: center;
  background-color: black;

}

aside > div.rightside {
  border: 2px solid purple;
  width: 430px;
  float: left;
  height: 50px;
  text-align: center;
  background-color: black;

}

aside > div.center {
  border: 2px solid maroon;
width: 430px;
  float: left;
  height: 50px;
  text-align: center;
  background-color: black;

}


footer {
  border: 2px solid blue;
  clear: both;
  text-align: center;
  height: 50px;
  background-color: black;
  width: 1300px;
}
